In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.naive_bayes import GaussianNB

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df=pd.read_csv('historical_emissions.csv')
df

,Country,Data source,Sector,Gas,Unit,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,CAIT,Total including LUCF,CO2,MtCO₂e,36441.55,35588.70,35160.60,34521.91,34558.59,...,24957.30,24895.32,25292.92,24214.92,23890.22,23260.29,23124.00,22988.29,23056.40,22849.92
1,China,CAIT,Total including LUCF,CO2,MtCO₂e,9663.36,9367.67,9164.21,9120.27,9184.77,...,2799.84,2882.75,2779.27,2715.50,2735.48,2414.50,2294.12,2068.77,1952.78,1823.96
2,United States,CAIT,Total including LUCF,CO2,MtCO₂e,4749.57,4581.90,4656.84,4563.52,4683.35,...,5191.66,5172.06,5129.29,4864.46,4708.31,4654.52,4581.76,4461.62,4389.50,4426.40
3,European Union (27),CAIT,Total including LUCF,CO2,MtCO₂e,2636.99,2692.12,2669.54,2321.61,2263.78,...,3079.46,3134.03,3142.23,3210.93,3113.68,3060.09,3072.40,3133.06,3247.48,3286.44
4,India,CAIT,Total including LUCF,CO2,MtCO₂e,2400.25,2267.16,2149.01,2085.38,2072.03,...,683.00,618.73,600.38,555.60,519.98,466.79,431.31,409.09,386.17,341.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Nauru,CAIT,Total including LUCF,CO2,MtCO₂e,0.07,0.07,0.06,0.05,0.05,...,0.09,0.10,0.10,0.10,0.11,0.11,0.11,0.12,0.13,0.13
191,Tuvalu,CAIT,Total including LUCF,CO2,MtCO₂e,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.00
192,Niue,CAIT,Total including LUCF,CO2,MtCO₂e,0.00,0.00,0.00,0.00,0.00,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
193,Fiji,CAIT,Total including LUCF,CO2,MtCO₂e,-0.65,-0.73,-0.81,-1.03,-1.24,...,-1.74,-1.76,-1.74,-1.72,-1.78,-1.79,-1.79,-1.78,-1.81,-1.81
194,Ghana,CAIT,Total including LUCF,CO2,MtCO₂e,-8.82,-10.15,-10.82,44.53,43.77,...,16.46,15.98,14.18,13.98,13.60,13.34,13.07,12.96,12.44,12.67

In [ ]:
df=df.drop(columns=['Data source','Sector','Gas','Unit'])

In [ ]:
negaraASEAN=['Indonesia', 'Thailand', 'Cambodia', 'Myanmar', 'Malaysia','Singapore','Philippines','Vietnam','Laos','Brunei']

In [ ]:
def praprocessing(dataframe):
    df_new=df.drop(labels=range(0,195),axis=0)
    
    for negara in negaraASEAN:
        arr=[]
        arr.append(dataframe.loc[dataframe['Country']==negara])
        df_new=df_new.append(arr,ignore_index=True)
    return df_new

In [ ]:
df_clean=praprocessing(df)

In [ ]:
df_testing=df_clean[['Country','2018','2017','2016']]

In [ ]:
df_training=df_clean.drop(['2018','2017','2016'],axis=1)

In [ ]:
df_training

,Country,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,Indonesia,1574.76,1539.23,1250.27,1303.87,1285.69,773.92,1036.71,731.76,738.57,...,849.42,907.96,1484.56,772.38,909.21,881.31,869.88,855.30,846.23,832.39
1,Thailand,263.34,259.38,262.72,252.33,234.88,202.37,187.79,194.80,190.63,...,174.18,167.52,188.50,185.34,166.83,148.39,134.23,119.61,109.85,100.74
2,Cambodia,73.51,71.55,70.50,70.35,70.11,8.50,8.30,7.52,7.18,...,6.08,6.11,5.87,5.78,5.68,5.64,5.55,5.52,5.47,5.43
3,Myanmar,128.25,124.63,121.56,118.38,114.79,134.15,132.10,130.98,135.08,...,150.15,149.01,147.66,148.08,148.94,147.62,146.79,146.26,146.10,146.17
4,Malaysia,124.54,135.37,109.59,91.92,92.13,316.20,303.97,309.70,298.83,...,222.59,233.95,214.34,206.21,197.88,191.20,185.40,183.09,177.54,170.40
5,Singapore,45.45,44.41,43.87,43.64,44.72,42.36,38.78,38.37,38.23,...,38.42,37.94,39.45,39.81,38.83,39.19,37.32,32.13,31.24,29.67
6,Philippines,116.10,106.84,100.23,90.49,86.90,85.95,79.91,79.11,76.94,...,74.84,77.33,77.73,69.90,64.21,53.90,49.87,46.14,42.77,43.25
7,Vietnam,186.54,146.44,132.72,124.61,126.39,167.68,149.73,135.62,123.43,...,-27.25,-27.51,-32.40,-38.30,-41.95,-45.54,-48.04,-52.98,-53.98,-53.88
8,Laos,17.32,13.09,12.58,11.94,11.71,15.05,14.71,14.22,13.91,...,11.35,11.32,11.29,11.25,11.17,11.14,11.11,11.10,11.05,11.02
9,Brunei,6.35,7.37,7.36,7.48,7.36,8.11,8.70,8.48,8.10,...,5.50,8.74,6.58,6.07,6.03,5.66,5.38,5.10,4.90,5.43

In [ ]:
df_testing

       Country     2018     2017     2016
0    Indonesia  1269.55  1081.11  1068.10
1     Thailand   270.90   273.70   273.79
2     Cambodia    40.16    40.38    38.90
3      Myanmar   136.92   133.48   125.78
4     Malaysia   319.59   298.10   310.17
5    Singapore    47.39    47.46    46.19
6  Philippines   144.70   139.05   127.38
7      Vietnam   245.36   209.66   211.70
8         Laos    27.46    27.18    24.03
9       Brunei     7.47     7.03     6.79

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
model = GaussianNB()

In [ ]:
model.fit()