In [151]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.naive_bayes import GaussianNB

In [152]:
df=pd.read_csv('historical_emissions.csv')
df

,Country,Data source,Sector,Gas,Unit,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,CAIT,Total including LUCF,CO2,MtCO₂e,36441.55,35588.70,35160.60,34521.91,34558.59,...,24957.30,24895.32,25292.92,24214.92,23890.22,23260.29,23124.00,22988.29,23056.40,22849.92
1,China,CAIT,Total including LUCF,CO2,MtCO₂e,9663.36,9367.67,9164.21,9120.27,9184.77,...,2799.84,2882.75,2779.27,2715.50,2735.48,2414.50,2294.12,2068.77,1952.78,1823.96
2,United States,CAIT,Total including LUCF,CO2,MtCO₂e,4749.57,4581.90,4656.84,4563.52,4683.35,...,5191.66,5172.06,5129.29,4864.46,4708.31,4654.52,4581.76,4461.62,4389.50,4426.40
3,European Union (27),CAIT,Total including LUCF,CO2,MtCO₂e,2636.99,2692.12,2669.54,2321.61,2263.78,...,3079.46,3134.03,3142.23,3210.93,3113.68,3060.09,3072.40,3133.06,3247.48,3286.44
4,India,CAIT,Total including LUCF,CO2,MtCO₂e,2400.25,2267.16,2149.01,2085.38,2072.03,...,683.00,618.73,600.38,555.60,519.98,466.79,431.31,409.09,386.17,341.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Nauru,CAIT,Total including LUCF,CO2,MtCO₂e,0.07,0.07,0.06,0.05,0.05,...,0.09,0.10,0.10,0.10,0.11,0.11,0.11,0.12,0.13,0.13
191,Tuvalu,CAIT,Total including LUCF,CO2,MtCO₂e,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.00
192,Niue,CAIT,Total including LUCF,CO2,MtCO₂e,0.00,0.00,0.00,0.00,0.00,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
193,Fiji,CAIT,Total including LUCF,CO2,MtCO₂e,-0.65,-0.73,-0.81,-1.03,-1.24,...,-1.74,-1.76,-1.74,-1.72,-1.78,-1.79,-1.79,-1.78,-1.81,-1.81
194,Ghana,CAIT,Total including LUCF,CO2,MtCO₂e,-8.82,-10.15,-10.82,44.53,43.77,...,16.46,15.98,14.18,13.98,13.60,13.34,13.07,12.96,12.44,12.67

In [153]:
df=df.drop(columns=['Data source','Sector','Gas','Unit'])

In [154]:
negaraASEAN=['Indonesia', 'Thailand', 'Cambodia', 'Myanmar', 'Malaysia','Singapore','Philippines','Vietnam','Laos','Brunei']

In [155]:
def praprocessing(dataframe):
    df_new=df.drop(labels=range(0,195),axis=0)
    
    for negara in negaraASEAN:
        arr=[]
        arr.append(dataframe.loc[dataframe['Country']==negara])
        df_new=df_new.append(arr,ignore_index=True)
    return df_new

In [156]:
df_clean=praprocessing(df)

C:\Users\ihzaf\AppData\Local\Temp\ipykernel_9688\761560554.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new=df_new.append(arr,ignore_index=True)

In [157]:
# df_clean.mul(100)
df_clean.iloc[:,1:] = df_clean.iloc[:,1:] * 100

In [158]:
df_clean

,Country,2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,Indonesia,126955.0,108111.0,106810.0,157476.0,153923.0,125027.0,130387.0,128569.0,77392.0,...,84942.0,90796.0,148456.0,77238.0,90921.0,88131.0,86988.0,85530.0,84623.0,83239.0
1,Thailand,27090.0,27370.0,27379.0,26334.0,25938.0,26272.0,25233.0,23488.0,20237.0,...,17418.0,16752.0,18850.0,18534.0,16683.0,14839.0,13423.0,11961.0,10985.0,10074.0
2,Cambodia,4016.0,4038.0,3890.0,7351.0,7155.0,7050.0,7035.0,7011.0,850.0,...,608.0,611.0,587.0,578.0,568.0,564.0,555.0,552.0,547.0,543.0
3,Myanmar,13692.0,13348.0,12578.0,12825.0,12463.0,12156.0,11838.0,11479.0,13415.0,...,15015.0,14901.0,14766.0,14808.0,14894.0,14762.0,14679.0,14626.0,14610.0,14617.0
4,Malaysia,31959.0,29810.0,31017.0,12454.0,13537.0,10959.0,9192.0,9213.0,31620.0,...,22259.0,23395.0,21434.0,20621.0,19788.0,19120.0,18540.0,18309.0,17754.0,17040.0
5,Singapore,4739.0,4746.0,4619.0,4545.0,4441.0,4387.0,4364.0,4472.0,4236.0,...,3842.0,3794.0,3945.0,3981.0,3883.0,3919.0,3732.0,3213.0,3124.0,2967.0
6,Philippines,14470.0,13905.0,12738.0,11610.0,10684.0,10023.0,9049.0,8690.0,8595.0,...,7484.0,7733.0,7773.0,6990.0,6421.0,5390.0,4987.0,4614.0,4277.0,4325.0
7,Vietnam,24536.0,20966.0,21170.0,18654.0,14644.0,13272.0,12461.0,12639.0,16768.0,...,-2725.0,-2751.0,-3240.0,-3830.0,-4195.0,-4554.0,-4804.0,-5298.0,-5398.0,-5388.0
8,Laos,2746.0,2718.0,2403.0,1732.0,1309.0,1258.0,1194.0,1171.0,1505.0,...,1135.0,1132.0,1129.0,1125.0,1117.0,1114.0,1111.0,1110.0,1105.0,1102.0
9,Brunei,747.0,703.0,679.0,635.0,737.0,736.0,748.0,736.0,811.0,...,550.0,874.0,658.0,607.0,603.0,566.0,538.0,510.0,490.0,543.0

In [159]:
# for i in range(len(df_clean)):
row=df_clean.columns.values.tolist()
row.pop(0)
# print(row)
country=df_clean.iloc[:,0].values.tolist()
# country

In [160]:
df_trans=df_clean.T

In [161]:
new_header = df_trans.iloc[0] #grab the first row for the header
df_trans = df_trans[1:] #take the data less the header row
df_trans.columns = new_header #set the header row as the df header

In [162]:
df_trans.head()

Country,Indonesia,Thailand,Cambodia,Myanmar,Malaysia,Singapore,Philippines,Vietnam,Laos,Brunei
2018,126955.0,27090.0,4016.0,13692.0,31959.0,4739.0,14470.0,24536.0,2746.0,747.0
2017,108111.0,27370.0,4038.0,13348.0,29810.0,4746.0,13905.0,20966.0,2718.0,703.0
2016,106810.0,27379.0,3890.0,12578.0,31017.0,4619.0,12738.0,21170.0,2403.0,679.0
2015,157476.0,26334.0,7351.0,12825.0,12454.0,4545.0,11610.0,18654.0,1732.0,635.0
2014,153923.0,25938.0,7155.0,12463.0,13537.0,4441.0,10684.0,14644.0,1309.0,737.0

In [172]:
Indonesia=df_trans.iloc[:,0].values.tolist()
Indonesia

[126955.0,
 108110.99999999999,
 106809.99999999999,
 157476.0,
 153923.0,
 125027.0,
 130386.99999999999,
 128569.0,
 77392.0,
 103671.0,
 73176.0,
 73857.0,
 115283.0,
 82993.0,
 103149.0,
 76193.0,
 100139.0,
 63116.0,
 79562.0,
 84942.0,
 90796.0,
 148456.0,
 77238.0,
 90921.0,
 88131.0,
 86988.0,
 85530.0,
 84623.0,
 83239.0]

In [146]:
new_header = df_trans.iloc[0] #grab the first row for the header
df_trans = df_trans[1:] #take the data less the header row
df_trans.columns = new_header #set the header row as the df header

In [164]:
df_trans

Country,Indonesia,Thailand,Cambodia,Myanmar,Malaysia,Singapore,Philippines,Vietnam,Laos,Brunei
2018,126955.0,27090.0,4016.0,13692.0,31959.0,4739.0,14470.0,24536.0,2746.0,747.0
2017,108111.0,27370.0,4038.0,13348.0,29810.0,4746.0,13905.0,20966.0,2718.0,703.0
2016,106810.0,27379.0,3890.0,12578.0,31017.0,4619.0,12738.0,21170.0,2403.0,679.0
2015,157476.0,26334.0,7351.0,12825.0,12454.0,4545.0,11610.0,18654.0,1732.0,635.0
2014,153923.0,25938.0,7155.0,12463.0,13537.0,4441.0,10684.0,14644.0,1309.0,737.0
2013,125027.0,26272.0,7050.0,12156.0,10959.0,4387.0,10023.0,13272.0,1258.0,736.0
2012,130387.0,25233.0,7035.0,11838.0,9192.0,4364.0,9049.0,12461.0,1194.0,748.0
2011,128569.0,23488.0,7011.0,11479.0,9213.0,4472.0,8690.0,12639.0,1171.0,736.0
2010,77392.0,20237.0,850.0,13415.0,31620.0,4236.0,8595.0,16768.0,1505.0,811.0
2009,103671.0,18779.0,830.0,13210.0,30397.0,3878.0,7991.0,14973.0,1471.0,870.0
2008,73176.0,19480.0,752.0,13098.0,30970.0,3837.0,7911.0,13562.0,1422.0,848.0
2007,73857.0,19063.0,718.0,13508.0,29883.0,3823.0,7694.0,12343.0,1391.0,810.0
2006,115283.0,18456.0,652.0,13520.0,27726.0,3712.0,7319.0,11377.0,1382.0,848.0
2005,82993.0,18259.0,621.0,13424.0,27959.0,3685.0,8049.0,11049.0,1343.0,611.0
2004,103149.0,17675.0,595.0,13638.0,26809.0,3956.0,7871.0,10281.0,1339.0,620.0
2003,76193.0,15731.0,595.0,13472.0,24743.0,3816.0,7715.0,8848.0,1333.0,665.0
2002,100139.0,14960.0,578.0,13121.0,24001.0,4132.0,7533.0,8661.0,1328.0,566.0
2001,63116.0,13828.0,573.0,13184.0,22483.0,4222.0,7405.0,7393.0,1317.0,566.0
2000,79562.0,17479.0,613.0,15072.0,23310.0,4253.0,7559.0,-2217.0,1141.0,575.0
1999,84942.0,17418.0,608.0,15015.0,22259.0,3842.0,7484.0,-2725.0,1135.0,550.0
1998,90796.0,16752.0,611.0,14901.0,23395.0,3794.0,7733.0,-2751.0,1132.0,874.0
1997,148456.0,18850.0,587.0,14766.0,21434.0,3945.0,7773.0,-3240.0,1129.0,658.0
1996,77238.0,18534.0,578.0,14808.0,20621.0,3981.0,6990.0,-3830.0,1125.0,607.0
1995,90921.0,16683.0,568.0,14894.0,19788.0,3883.0,6421.0,-4195.0,1117.0,603.0
1994,88131.0,14839.0,564.0,14762.0,19120.0,3919.0,5390.0,-4554.0,1114.0,566.0
1993,86988.0,13423.0,555.0,14679.0,18540.0,3732.0,4987.0,-4804.0,1111.0,538.0
1992,85530.0,11961.0,552.0,14626.0,18309.0,3213.0,4614.0,-5298.0,1110.0,510.0
1991,84623.0,10985.0,547.0,14610.0,17754.0,3124.0,4277.0,-5398.0,1105.0,490.0
1990,83239.0,10074.0,543.0,14617.0,17040.0,2967.0,4325.0,-5388.0,1102.0,543.0

In [165]:
dict = {'Country': 'Year'}
 
# call rename () method
df_trans.rename(columns=dict,
          inplace=True)

In [166]:
df_trans

Country,Indonesia,Thailand,Cambodia,Myanmar,Malaysia,Singapore,Philippines,Vietnam,Laos,Brunei
2018,126955.0,27090.0,4016.0,13692.0,31959.0,4739.0,14470.0,24536.0,2746.0,747.0
2017,108111.0,27370.0,4038.0,13348.0,29810.0,4746.0,13905.0,20966.0,2718.0,703.0
2016,106810.0,27379.0,3890.0,12578.0,31017.0,4619.0,12738.0,21170.0,2403.0,679.0
2015,157476.0,26334.0,7351.0,12825.0,12454.0,4545.0,11610.0,18654.0,1732.0,635.0
2014,153923.0,25938.0,7155.0,12463.0,13537.0,4441.0,10684.0,14644.0,1309.0,737.0
2013,125027.0,26272.0,7050.0,12156.0,10959.0,4387.0,10023.0,13272.0,1258.0,736.0
2012,130387.0,25233.0,7035.0,11838.0,9192.0,4364.0,9049.0,12461.0,1194.0,748.0
2011,128569.0,23488.0,7011.0,11479.0,9213.0,4472.0,8690.0,12639.0,1171.0,736.0
2010,77392.0,20237.0,850.0,13415.0,31620.0,4236.0,8595.0,16768.0,1505.0,811.0
2009,103671.0,18779.0,830.0,13210.0,30397.0,3878.0,7991.0,14973.0,1471.0,870.0
2008,73176.0,19480.0,752.0,13098.0,30970.0,3837.0,7911.0,13562.0,1422.0,848.0
2007,73857.0,19063.0,718.0,13508.0,29883.0,3823.0,7694.0,12343.0,1391.0,810.0
2006,115283.0,18456.0,652.0,13520.0,27726.0,3712.0,7319.0,11377.0,1382.0,848.0
2005,82993.0,18259.0,621.0,13424.0,27959.0,3685.0,8049.0,11049.0,1343.0,611.0
2004,103149.0,17675.0,595.0,13638.0,26809.0,3956.0,7871.0,10281.0,1339.0,620.0
2003,76193.0,15731.0,595.0,13472.0,24743.0,3816.0,7715.0,8848.0,1333.0,665.0
2002,100139.0,14960.0,578.0,13121.0,24001.0,4132.0,7533.0,8661.0,1328.0,566.0
2001,63116.0,13828.0,573.0,13184.0,22483.0,4222.0,7405.0,7393.0,1317.0,566.0
2000,79562.0,17479.0,613.0,15072.0,23310.0,4253.0,7559.0,-2217.0,1141.0,575.0
1999,84942.0,17418.0,608.0,15015.0,22259.0,3842.0,7484.0,-2725.0,1135.0,550.0
1998,90796.0,16752.0,611.0,14901.0,23395.0,3794.0,7733.0,-2751.0,1132.0,874.0
1997,148456.0,18850.0,587.0,14766.0,21434.0,3945.0,7773.0,-3240.0,1129.0,658.0
1996,77238.0,18534.0,578.0,14808.0,20621.0,3981.0,6990.0,-3830.0,1125.0,607.0
1995,90921.0,16683.0,568.0,14894.0,19788.0,3883.0,6421.0,-4195.0,1117.0,603.0
1994,88131.0,14839.0,564.0,14762.0,19120.0,3919.0,5390.0,-4554.0,1114.0,566.0
1993,86988.0,13423.0,555.0,14679.0,18540.0,3732.0,4987.0,-4804.0,1111.0,538.0
1992,85530.0,11961.0,552.0,14626.0,18309.0,3213.0,4614.0,-5298.0,1110.0,510.0
1991,84623.0,10985.0,547.0,14610.0,17754.0,3124.0,4277.0,-5398.0,1105.0,490.0
1990,83239.0,10074.0,543.0,14617.0,17040.0,2967.0,4325.0,-5388.0,1102.0,543.0

In [167]:
line=df_trans.loc[df_trans[0]]
line.plot(kind="line", x='Indonesia')

KeyError: 0

In [ ]:
df_testing=df_clean[['Country','2018','2017','2016']]

In [ ]:
df_training=df_clean.drop(['2018','2017','2016'],axis=1)

In [ ]:
df_training

,Country,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,Indonesia,1574.76,1539.23,1250.27,1303.87,1285.69,773.92,1036.71,731.76,738.57,...,849.42,907.96,1484.56,772.38,909.21,881.31,869.88,855.30,846.23,832.39
1,Thailand,263.34,259.38,262.72,252.33,234.88,202.37,187.79,194.80,190.63,...,174.18,167.52,188.50,185.34,166.83,148.39,134.23,119.61,109.85,100.74
2,Cambodia,73.51,71.55,70.50,70.35,70.11,8.50,8.30,7.52,7.18,...,6.08,6.11,5.87,5.78,5.68,5.64,5.55,5.52,5.47,5.43
3,Myanmar,128.25,124.63,121.56,118.38,114.79,134.15,132.10,130.98,135.08,...,150.15,149.01,147.66,148.08,148.94,147.62,146.79,146.26,146.10,146.17
4,Malaysia,124.54,135.37,109.59,91.92,92.13,316.20,303.97,309.70,298.83,...,222.59,233.95,214.34,206.21,197.88,191.20,185.40,183.09,177.54,170.40
5,Singapore,45.45,44.41,43.87,43.64,44.72,42.36,38.78,38.37,38.23,...,38.42,37.94,39.45,39.81,38.83,39.19,37.32,32.13,31.24,29.67
6,Philippines,116.10,106.84,100.23,90.49,86.90,85.95,79.91,79.11,76.94,...,74.84,77.33,77.73,69.90,64.21,53.90,49.87,46.14,42.77,43.25
7,Vietnam,186.54,146.44,132.72,124.61,126.39,167.68,149.73,135.62,123.43,...,-27.25,-27.51,-32.40,-38.30,-41.95,-45.54,-48.04,-52.98,-53.98,-53.88
8,Laos,17.32,13.09,12.58,11.94,11.71,15.05,14.71,14.22,13.91,...,11.35,11.32,11.29,11.25,11.17,11.14,11.11,11.10,11.05,11.02
9,Brunei,6.35,7.37,7.36,7.48,7.36,8.11,8.70,8.48,8.10,...,5.50,8.74,6.58,6.07,6.03,5.66,5.38,5.10,4.90,5.43

In [ ]:
df_clean.loc[0]

Country    Indonesia
2018        126955.0
2017        108111.0
2016        106810.0
2015        157476.0
2014        153923.0
2013        125027.0
2012        130387.0
2011        128569.0
2010         77392.0
2009        103671.0
2008         73176.0
2007         73857.0
2006        115283.0
2005         82993.0
2004        103149.0
2003         76193.0
2002        100139.0
2001         63116.0
2000         79562.0
1999         84942.0
1998         90796.0
1997        148456.0
1996         77238.0
1995         90921.0
1994         88131.0
1993         86988.0
1992         85530.0
1991         84623.0
1990         83239.0
Name: 0, dtype: object

In [ ]:
df_testing

       Country     2018     2017     2016
0    Indonesia  1269.55  1081.11  1068.10
1     Thailand   270.90   273.70   273.79
2     Cambodia    40.16    40.38    38.90
3      Myanmar   136.92   133.48   125.78
4     Malaysia   319.59   298.10   310.17
5    Singapore    47.39    47.46    46.19
6  Philippines   144.70   139.05   127.38
7      Vietnam   245.36   209.66   211.70
8         Laos    27.46    27.18    24.03
9       Brunei     7.47     7.03     6.79

In [ ]:
X = df_training.iloc[:, [1,2, 3,4]].values
X_test=df_training.iloc[:, [6,7,8,9]].values
y = df_training.iloc[:, 5].values
y_test=df_training.iloc[:, 10].values

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X)
y_train=y
X_test = sc.transform(X_test)

In [ ]:
# Training the Naive Bayes model on the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [ ]:
y_pred

array([23488., 12639.,   736., 11479., 23488.,  4472.,  7011., 12639.,
        1171.,   736.])

In [ ]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
ac = accuracy_score(y_test,y_pred)
# cm = confusion_matrix(y_test, y_pred)

ValueError: Classification metrics can't handle a mix of continuous and multiclass targets