In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.naive_bayes import GaussianNB

In [4]:
df=pd.read_csv('historical_emissions.csv')
df

,Country,Data source,Sector,Gas,Unit,2018,2017,2016,2015,2014,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,CAIT,Total including LUCF,CO2,MtCO₂e,36441.55,35588.70,35160.60,34521.91,34558.59,...,24957.30,24895.32,25292.92,24214.92,23890.22,23260.29,23124.00,22988.29,23056.40,22849.92
1,China,CAIT,Total including LUCF,CO2,MtCO₂e,9663.36,9367.67,9164.21,9120.27,9184.77,...,2799.84,2882.75,2779.27,2715.50,2735.48,2414.50,2294.12,2068.77,1952.78,1823.96
2,United States,CAIT,Total including LUCF,CO2,MtCO₂e,4749.57,4581.90,4656.84,4563.52,4683.35,...,5191.66,5172.06,5129.29,4864.46,4708.31,4654.52,4581.76,4461.62,4389.50,4426.40
3,European Union (27),CAIT,Total including LUCF,CO2,MtCO₂e,2636.99,2692.12,2669.54,2321.61,2263.78,...,3079.46,3134.03,3142.23,3210.93,3113.68,3060.09,3072.40,3133.06,3247.48,3286.44
4,India,CAIT,Total including LUCF,CO2,MtCO₂e,2400.25,2267.16,2149.01,2085.38,2072.03,...,683.00,618.73,600.38,555.60,519.98,466.79,431.31,409.09,386.17,341.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Nauru,CAIT,Total including LUCF,CO2,MtCO₂e,0.07,0.07,0.06,0.05,0.05,...,0.09,0.10,0.10,0.10,0.11,0.11,0.11,0.12,0.13,0.13
191,Tuvalu,CAIT,Total including LUCF,CO2,MtCO₂e,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.00
192,Niue,CAIT,Total including LUCF,CO2,MtCO₂e,0.00,0.00,0.00,0.00,0.00,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
193,Fiji,CAIT,Total including LUCF,CO2,MtCO₂e,-0.65,-0.73,-0.81,-1.03,-1.24,...,-1.74,-1.76,-1.74,-1.72,-1.78,-1.79,-1.79,-1.78,-1.81,-1.81
194,Ghana,CAIT,Total including LUCF,CO2,MtCO₂e,-8.82,-10.15,-10.82,44.53,43.77,...,16.46,15.98,14.18,13.98,13.60,13.34,13.07,12.96,12.44,12.67

In [5]:
negara=['Indonesia', 'Thailand', 'Cambodia', 'Myanmar', 'Malaysia','Singapore','Philippines','Vietnam','Laos','Brunei','Timor-Leste','Indonesia','Thailand','Cambodia','Myanmar','Malaysia','Singapore','Philippines','Vietnam','Laos','Brunei']

In [13]:
def praprocessing(dataframe):
    # dataframe.drop.nan()

    for i in range (0,len(negara)):
        temp={}
        if dataframe:
            print(dataframe.index)
        # dataframe.drop(dataframe[dataframe['Country']==negara[i]].index,inplace=True)

In [16]:
df.lo

KeyError: 2

In [15]:
for i in len(df):
    if df[i]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [14]:
praprocessing(df)

ValueError: The truth value of a Int64Index is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().